{% extends '_layout.html' %}
{% block content %}

<!-- Payment page -->
<head>
    <meta charset="utf-8">
    <!-- includes the Braintree JS client SDK -->
    <script src="https://js.braintreegateway.com/web/dropin/1.20.0/js/dropin.min.js"></script>
    <!-- includes jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
</head>

<body>
    {{image_id}}
    <h1>Make a payment with Braintree</h1>
    <br>

    <form id ='payment-form' method = 'POST' action = '/users/{{current_user.name}}/checkout' >

         <!-- to identify the image id -->
        <input type ='hidden' name='image_id' value = {{image_id}}>

        <input type='hidden' name='csrf_token' value = "{{ csrf_token() }}" >
        <section>
            <label for ='amount'>
                <span class = 'input-label'>Amount</span>
                <div class = 'input-wrapper amount-wrapper'>
                    <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">
                </div>
            </label>         
            <div class="bt-drop-in-wrapper">
                <div id="dropin-container">
                </div>
            </div>
        </section>

        <input type="hidden" id="nonce" name="payment_method_nonce" value ='fake-valid-nonce' />       
        <button class="button"  type = 'submit' id="submit-button"><span>DONATE</span></button>

    </form>


    <script>
        var button = document.querySelector('#submit-button');
        var client_token = '{{client_token}}'

        braintree.dropin.create(
            {
            authorization: client_token,
            container: '#dropin-container'
            }, 
            function (createErr, instance) {
                button.addEventListener('click', function () {
                    //'payload' is the object from braintree, 'instance' is the form
                    instance.requestPaymentMethod(function (err, payload) {
                    // Submit payload.nonce to your server
                    if (err) {
                        console.log('Error', err)
                        return;
                    }

                    //add the none to the form, then submit it back to the form, views.py will receive this information to send to Braintree
                    document.querySelector('#nonce').value = payload.nonce
                    form.submit()

                    });
            });
        });
    </script>
    </body>

{% endblock %}