{% extends "_layout.html" %}
{% block content %}

{% if user.id == current_user.id %}
<!--  if current user id match, show the current usrs id profile with upload photo feature  -->

<div class="d-flex flex-column text-center" id='user_profile_page_container'>
    <h1>{{current_user.name}}</h1>
    <div>
        <img src="{{ current_user.profile_image_url }}" id='user_profile_picture'>
    </div>

    <!--upload image form-->
    <div class="upload_image_form p-2 bd-highlight w-100">
        <form action={{ url_for('users.image_upload', username = current_user.name) }} method='POST'
            enctype="multipart/form-data">
            <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type='submit' class="btn btn-outline-secondary" type="button" id="upload_btn">Upload your
                        photo</button>
                </div>
                <div class="custom-file">
                    <input name='user_file' type="file" class="custom-file-input" id="file_input"
                        aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- for the Donate in each image -->
<div class="d-flex flex-row flex-wrap align-content-center">
    {% for image in current_user.images %}
    <div class="each_image_container d-flex flex-column align-content-center">
        <img src='{{image.image_url}}' class='each_image'>
        <div>
            <form action={{ url_for('users.checkout_new', username = current_user.name, imageid = image.id) }}
                method='POST'>
                <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
                <input type='hidden' name='image_id' value={{image_id}}>
                <button type='submit' type="button">Donate</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>


{% elif current_user.is_authenticated %}
<!-- if current user is login, they can donate for the others users, but they can not upload photo for these users -->
<div class="d-flex flex-column text-center" id='user_profile_page_container'>
    <h1>{{user.name}}</h1>
    <div>
        <img src="{{ user.profile_image_url }}" id='user_profile_picture'>
    </div>
</div>

<!-- for the Donate in each image -->
<div class="d-flex flex-row flex-wrap align-content-center">
    {% for image in user.images %}
    <div class="each_image_container d-flex flex-column align-content-center">
        <img src='{{image.image_url}}' class='each_image'>
        <div>
            <form action={{ url_for('users.checkout_new', username = user.name, imageid = image.id) }} method='POST'>
                <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
                <input type='hidden' name='image_id' value={{image_id}}>
                <button type='submit' type="button">Donate</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<!-- if users dont log in, they can only view photos, no donate or upload photo -->
<div class="d-flex flex-column text-center" id='user_profile_page_container'>
    <h1>{{user.name}}</h1>
    <div>
        <img src="{{ user.profile_image_url }}" id='user_profile_picture'>
    </div>
</div>

<!--each image -->
<div class="d-flex flex-row flex-wrap align-content-center">
    {% for image in user.images %}
    <div class="each_image_container d-flex flex-column align-content-center">
        <img src='{{image.image_url}}' class='each_image'>
    </div>
    {% endfor %}
</div>

{% endif %}



<!--this part is for API post images method 2-->
<!--this shit is JS-->
<script>
    /* listen for changes in the file input, once the document has loaded, and starts the upload process */
    (function () {
        document.getElementById("file_input").onchange = function () {
            var files = document.getElementById("file_input").files;
            var file = files[0]
            if (!file) {
                return alert('No file selected', 'danger')
            }
            getSignedRequest(file);
        };
    })();

    /* this function is to accept file object, then obtain an appropriate signed request from the back-end */
    function getSignedRequest(file) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/sign_s3?file_name=" + file.name + "&file_type=" + file.type);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText)
                    uploadFile(file, response.data, response.url);
                }
                else {
                    alert('Could not get singed URL');
                }
            }
        };
        xhr.send();
    }

    function uploadFile(file, s3Data, url) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", s3Data.url);

        var postData = new FormData();
        for (key in s3Data.fields) {
            postData.append(key, s3Data.fields[key]);
        }
        postData.append('file', file);
        // add here later the code to update the database
        xhr.send(postData)
    }

</script>


{% endblock %}