/* formating for sign up and login form  */

#sign_up_form_container, #log_in_form_container, #edit_form_container, #payment_container, #thank_you_container, #upload_profile_image_container
, #upload_profile_photo_page_container {
    display:block;
    margin:0 auto;
    align-content: center;
    background-color: #f58b54;
    height: 63vh;
    font-size: 3rem;
    padding: 2rem;
    width: 50vw;
}

#edit_form_container {
    height:70vh
}

#thank_you_container {
    height:40vh
}

#thank_you_container h1{
    margin-top: 15vh;
}

#upload_profile_image_container {
    margin-top: 10vh;
    height: 20vh;
}

#upload_profile_photo_page_container {
    height: 50vh
}



#log_in_form_container{
    height: 73vh
}

#payment_container {
    height:85vh;
}

#sign_up_form_container h1, #log_in_form_container h1, #edit_form_container h1, #payment_container h1,
#upload_profile_photo_btn_sepeprate h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align:center

}

#sign_up_form_container input, #log_in_form_container input, #edit_form_container input, #payment_container input {
    width: 42vw;
    line-height: 5vh;
    font-size: 2rem;
}


#add_a_usesr_button, #change_btn, #submit-button, #upload_profile_photo_btn, #upload_profile_photo_btn_sepeprate {
    display:block;
    margin: 2rem auto;
    width:15vw;
    height:7vh;
    background-color: #dfddc7;
    font-size: 3rem;
    color: black;
    border-radius: 10px;
    border:none;
}

#upload_profile_photo_btn {
    width: 30vw;
}

.login_button {
    display: block;
    margin: 2rem auto;
    width:20vw;
    height:7vh;
    background-color: #dfddc7;
    font-size: 2.5rem;
    color: black;
    border-radius: 10px;
    border:none;

}

#add_a_usesr_button:hover, .login_button:hover, #change_btn:hover, #submit-button:hover, #upload_profile_photo_btn:hover,
#upload_profile_photo_btn_sepeprate:hover {
    background-color: #5eb7b7 ;
}

#choose_file_image {
    margin-top: 2rem;
    margin-bottom:2rem;
    width:40vw
}

#upload_profile_photo_btn_sepeprate {
    width:20vw;
    margin-top: 5rem;
}

#upload_profile_photo_page_container form {
    font-size: 2rem
}

/* formating for User Profile Page */


/* formating for Home Page */
.user_container {
    margin-top: 6rem;
    margin-left:1rem;
    align-content: center;
    flex-wrap: wrap;
    width:100%;
}

.each_user_container {
    background-color: #f58b54;
    margin-bottom:1rem;
    border-radius: 15px;

}

.profile_picture {
    height:10vh;
    border-radius:50%;
}

.user_image {
    height:15vh
}

.user_name {
    padding:1rem;
    font-size:2rem;
    font-weight:800;
}

.see_more_btn {
    width:10vw;
    height:5vh;
    background-color: #dfddc7;
    font-size: 2rem;
    color: black;
    border-radius: 10px;
    border:none;
}

.see_more_btn:hover {
    background-color: #5eb7b7 ;

}

/* formating for User Profile Page */

#user_profile_page_container {
    align-content: center;
    justify-content: center;
}

#user_profile_page_container h1{
    padding:1rem;
    font-size:4rem;
    font-weight:800;

}

#user_profile_picture {
    height:40vh;
    width:20vw;
    border-radius: 50%;
    margin-bottom:2rem;
}

.upload_image_form {
    font-size: 2rem;
}

#upload_btn {
    font-size: 2rem;
    color: black
}

#upload_btn:hover{
    background-color: #5eb7b7 ;

}

.custom-file-label{
    width:80vw;
}

.each_image {
    height: 40vh;
    margin:1rem;
}

.each_image_container button {
    /*  */
    width:10vw;
    height:5vh;
    background-color:#dfddc7;
    font-size: 2rem;
    color: black;
    border-radius: 10px;
    border:none;
    margin-left: 8rem;
    margin-bottom: 2rem;
}

.donate_button:hover {
    background-color: #5eb7b7 ;
}