/* formating for sign up form  */

#sign_up_form_container, #log_in_form_container {
    display:block;
    margin:0 auto;
    align-content: center;
    background-color: #f58b54;
    height: 63vh;
    font-size: 3rem;
    padding: 2rem;
    width: 50vw;
}

#log_in_form_container{
    height: 73vh
}

#sign_up_form_container h1, #log_in_form_container h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align:center

}

#sign_up_form_container input, #log_in_form_container input {
    width: 42vw;
    line-height: 5vh;
    font-size: 2rem;
}

#add_a_usesr_button {
    display:block;
    margin: 2rem auto;
    width:15vw;
    height:7vh;
    background-color: #dfddc7;
    font-size: 3rem;
    color: black;
    border-radius: 10px;
    border:none;

}

.login_button {
    display: block;
    margin: 2rem auto;
    width:20vw;
    height:7vh;
    background-color: #dfddc7;
    font-size: 2.5rem;
    color: black;
    border-radius: 10px;
    border:none;

}

#add_a_usesr_button:hover, .login_button:hover {
    background-color: #5eb7b7 ;
}


/* formating for Home Page */
.user_container {
    margin-top: 6rem;
    margin-left:1rem;
    align-content: center;
    flex-wrap: wrap;
    width:100%;
}

.each_user_container {
    background-color: #f58b54;
    margin-bottom:1rem;
    border-radius: 15px;

}

.profile_picture {
    height:10vh;
    border-radius:50%;
}

.user_image {
    height:15vh
}

.user_name {
    padding:1rem;
    font-size:2rem;
    font-weight:800;
}

.see_more_btn {
    width:10vw;
    height:5vh;
    background-color: #dfddc7;
    font-size: 2rem;
    color: black;
    border-radius: 10px;
    border:none;
}

.see_more_btn:hover {
    background-color: #5eb7b7 ;

}