<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block header %}
  {% endblock %}

  <title>{% block title %}{% endblock %} NEXTAGRAM</title>

</head>

<body>

  <!-- navigation menu -->
  <nav class="navbar navbar-expand-lg navbar-light navbar_container">
    <div>
      <a href="{{ url_for('home') }}">
        <img src='/static/photos/icon.png' />
      </a>
    </div>
    <div>
      <a href="{{ url_for('home') }}">
        Nextagram
      </a>
    </div>
    {% if current_user.is_authenticated %}
    <div id ='your_profile_link'>
      <a href="{{ url_for('users.show', username = current_user.name) }}"> Your profile
      </a>
    </div>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% if current_user.is_authenticated %}
    <div class="buttons collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- {{current_user}} -->
        <!-- <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('users.show', username = current_user.name) }}"> User Profile <span
              class="sr-only">(current)</span></a>
        </li> -->

        <form action={{ url_for('users/edit.new', userid = current_user.id ) }}>
          <li class="nav-item mr-3">
            <!-- refer to the function to show it back to homepage -->
            <button type="sumbit" class="btn btn-secondary" id='edit_account_btn'> Edit account</button>
          </li>
        </form>
        <!-- refer to the form action to logout -->
        <form action={{ url_for('sessions.logout') }}>
          <li class="nav-item mr-3">
            <!-- refer to the function to show it back to homepage -->
            <button type="sumbit" class="btn btn-secondary" id='log_out_btn'> Log Out</button>
          </li>
        </form>
        {% else %}
        <li class="nav-item">
          <!-- refer to the function to show the Log In form -->
          <a href="{{ url_for('sessions.check') }}">
            <button type="sumbit" class="standard_btn btn btn-secondary">Log In</button>
          </a>
        </li>
        <li class="nav-item">
          <!-- refer to the function to show the Sign Up form -->
          <a href="{{ url_for('users.new') }}">
            <button type="sumbit" class="standard_btn btn btn-secondary">Sign Up</button>
          </a>
        </li>
        {% endif %}

      </ul>

    </div>
  </nav>



  <!-- putting flash alert-->
  {% with messages = get_flashed_messages(with_categories = true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}} flashes" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}



  <!-- <div class = 'fluid-container mt-5'> -->
  {% block content %}
  {% endblock %}
  <!-- </div> -->

  <br>

  <!-- putting errors alert-->
  {% if errors|length > 0 %}
  {% for error in errors if errors|length > 0 %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}




</body>

</html>