{% extends "_layout.html" %}
{% block title %}
Homepage
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<div class="user_container d-flex flex-column">
  {% for user in all_users %}
  <!-- for each user - user name and user profile pic-->
  <div class="each_user_container d-flex flex-column">
    <div class="user_name"> {{ user.name}} </div>
    <div class="p-3 bd-highlight">
      <img src='{{ user.profile_image_url}}' class='profile_picture'>
    </div>
    <div class="p-2 bd-highlight ">
      <a href='/users/{{user.name}}'>
        <button type='Submit' class='see_more_btn'>See More</button>
      </a>
    </div>
    <!-- for the images selection -->
    <div class="d-flex flex-row flex-wrap align-content-center">
      {% for image in user.images %}
      <div class="p-2">
        <img src='{{image.image_url}}' class='user_image'>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}


</div>


{% endblock %}